$main-font: sans-serif;
$heading-font: cursive;
// color
$card-head: #bdbdbd;
$color-blue: #1a9bdc;
$color-black: #494949;
$color-green: rgba(120, 134, 116, 0.835);
$color-black-menu: #6a6a6a;
$color-black-nav-active: #262626;
$color-black-header-p: #3f3f3f;
$color-black-header: #474747;


// background
$black-pink: #e2e2e2;
$black-blue: #0087be;
$black-card-1: #43b1d2;
$black-card-2: #3fb6c6;
$black-card-3: #3cbbbb;
$black-card-4: #37c3a8;
$black-contact-us: #171717;
$black-footer: #1a1a1a;